<% if user_signed_in? %>
    <div class="header">
        <div class="header-left">
            <h2>STATION</h2>
        </div>
        <div class="header-right">
            <div class="profile-icon">
                <% if current_user.icon_image? %>
                    <img src='<%= current_user.icon_image %>' class="user-icon" alt="ユーザーアイコン">
                <% else %>
                    <%= image_tag src='default.png', class: "user-icon", alt: "ユーザーアイコン" %>
                <% end %>
            </div>
            <p class="name"><%= current_user.name %></p>
        </div>
    </div>
    <div class="dropdown">
        <ul class="dropdown-list">
            <li><%= %></li>
            <li><%= %></li>
            <li><%= %></li>
            <li><%= link_to "LogOut", destroy_user_session_path, method: :delete, class: "header-nav link" %></li>
        </ul>
    </div>
<% else %>
    <ul>
        <li><%= link_to "LogIn", new_user_session_path, class: "header-nav" %></li>
        <li><%= link_to "SignUp", new_user_registration_path, class: "header-nav" %></li>
    </ul>
<% end %>