<h1>施設の編集</h1>
<%= form_with model: @room do |f|%>
<p><%= link_to "施設一覧に戻る", rooms_home_path %></p>
<div class="table">
    <table>
        <tr>
            <th><%= f.label :room_image,"画像" %></th>
            <td><%=f.file_field :room_image %></td>
        </tr>
        <tr>
            <th><%= f.label :room_name,"施設名" %></th>
            <td><%= f.text_field :room_name %></td>
        </tr>
        <tr>
            <th><%= f.label :introduction,"施設詳細" %></th>
            <td><%= f.text_area :introduction %></td>
        </tr>
        <tr>
            <th><%= f.label :hotel_fee,"料金" %></th>
            <td><%= f.text_field :hotel_fee %></td>
        </tr>
        <tr>
            <th><%= f.label :address,"住所" %></th>
            <td><%= f.text_field :address %></td>
        </tr>
    </table>
    <ul>
        <li><%= f.submit "登録する" %></li>
    </ul>
</div>
<%end%>