<div class="main-container">
    <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <h1>登録済み一覧</h1>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>施設名</th>
                    <th>施設の紹介</th>
                    <th>料金（/日）</th>
                    <th>作成日</th>
                    <th>編集</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
            <% @rooms.each do |room| %>
                <tr>
                    <td><%= room.user_id %></td>
                    <td>
                        <% if room.room_image.attached? %>
                            <%=  image_tag room.room_image %>
                        <% else %>
                            <%= image_tag src='default-image.png', class: "hotel-icon", alt: "施設アイコン" %>
                        <%end%>
                    </td>
                    <td><%= link_to room.room_name, room %></td>
                    <td><%= room.introduction %></td>
                    <td><%= room.hotel_fee %>〜</td>
                    <td><%= room.created_at.to_s(:datetime) %></td>
                    <td><%= link_to"編集",[:edit, room] %></td>
                    <td><%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

