<h1>検索</h1>
<div>
    <div class="search-form">
        <%= form_with( url: rooms_search_path, method: :get) do |f|%>
            <%= f.search_field :area, placeholder: "エリアを入力" %>
            <%= f.search_field :word, placeholder: "キーワードを入力" %>
             <%= f.submit "検索" %>
        <%end%>
    </div>
    <div class="area-link">
        <%= link_to (image_tag ("kyoto.jpg"),   class: "area-image"), rooms_search_path(link_name: "京都") %>
        <%= link_to (image_tag ("osaka.jpg"),   class: "area-image"), rooms_search_path(link_name: "大阪") %>
        <%= link_to (image_tag ("sapporo.jpg"), class: "area-image"), rooms_search_path(link_name: "札幌") %>
        <%= link_to (image_tag ("tokyo.jpg"),   class: "area-image"), rooms_search_path(link_name: "東京") %>
    </div>
</div>

