<h1>ホテル詳細</h1>
<div class="table">
<%= form_for @room.reservations.new,method: :post,url: reservations_confirm_path do |f|  %>
    <% if @room.room_image.attached? %>
        <%=  image_tag room.room_image %>
    <%end%>
    <table>
    <%= f.hidden_field :room_id, value: @room.id %>
        <tr>
            <th>施設名</th>
            <td class="room-data"><%= @room.room_name %></td>   
        </tr>
        <tr>
            <th>紹介文</th>
            <td class="room-data"><%= @room.introduction %></td>   
        </tr>
        <tr>
            <th>料金(円/日)</th>
            <td class="room-data"><%= @room.hotel_fee %></td>   
        </tr>
        <tr>
            <th><%= f.label :check_in_date,"チェックイン" %></th>
            <td><%= f.date_field :check_in_date %></td>
        </tr>
        <tr>
            <th><%= f.label :check_out_date,"チェックアウト" %></th>
            <td><%= f.date_field :check_out_date %></td>
        </tr>
        <tr>
            <th><%= f.label :number_of_people,"人数" %></th>
            <td><%= f.number_field :number_of_people %></td>
        </tr>
    </table>
    <% if user_signed_in? %>
        <%= f.submit "この日程で予約する" %>
    <% end %>
        
<%end%>
    <%= link_to "戻る", :back %>
</div>