<div class="main-container">
    <h1>ホテル詳細</h1>
    <% if flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
    <% end %>
    <div class="table">
    <%= form_with model: @room.reservations, local: true, method: :post,url: reservations_confirm_path do |f|  %>
        <table>
         <% if @room.room_image.attached? %>
        <tr>
            <th></th>
            <td> <%=  image_tag @room.room_image, class: "hotel-icon" %></td>
        </tr>
        <%end%>
        <%= f.hidden_field :room_id, value: @room.id %>
            <tr>
                <th>施設名</th>
                <td class="room-data"><%= @room.room_name %></td>   
            </tr>
            <tr>
                <th>紹介文</th>
                <td class="room-data"><%= @room.introduction %></td>   
            </tr>
            <tr>
                <th>料金(円/日)</th>
                <td class="room-data"><%= @room.hotel_fee %></td>   
            </tr>
            <tr>
                <th><%= f.label :check_in_date,"チェックイン" %></th>
                <td><%= f.date_field :check_in_date %></td>
            </tr>
            <tr>
                <th><%= f.label :check_out_date,"チェックアウト" %></th>
                <td><%= f.date_field :check_out_date %></td>
            </tr>
            <tr>
                <th><%= f.label :number_of_people,"人数" %></th>
                <td><%= f.text_field :number_of_people %></td>
            </tr>
        </table>
        <ul class="submit">
            <li>
                <% if user_signed_in? %>
                    <%= f.submit "この予約を確認する", class: "submit-btn" %>
                <% end %>
            </li>
            <li><button class=" back-btn"><%= link_to "戻る", 'javascript:history.back()', class: "link" %></button></li>
        </ul>       
    <%end%>
    </div>
</div>